hr{
    border-width: 20px;
    border-color: rgb(187, 187, 187);
    border-style: dotted none none;
    width: 20%;
    height: 0px;
}

h1{
    color: #185adb;
}

h3{
    color: #185adb;
    
}


